<h1> Welcome to bookmark manager! </h1>
<h1> You are logged in as <%= @user_email %> </h1>
<h2> Links </h2>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title:  <%= link.title %>
      URL:    <%= link.url %>
      Tags:
      <% link.tags.each do |tag| %>
          <%= tag.name %>
        <% end %>
    </li>
  <% end %>
</ul>
